.swiper {
    padding: 20px;
}

.instagram-feed {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #FFF;
}

.instagram-feed img {
    display: inline;
    align-self: center;
    border-radius: 20px;
}

.thumb-9-16 {
    width: 240px;            /* 表示したい幅 */
    aspect-ratio: 9 / 16;    /* 9:16の縦長枠を作る */
    overflow: hidden;        /* はみ出した部分を隠す */
    border-radius: 8px;      /* お好みで角丸 */
}

.thumb-9-16 img {
    width: 100%;
    height: 100%;
    object-fit: cover;       /* 余分をトリミング */
    object-position: 50% 50%;/* 中央を基準にトリミング */
}

/* マウスオーバーで拡大する効果 */
.instagram-feed:hover {
    transform: scale(1.1); /* 画像を1.2倍に拡大 */
    z-index: 99;
}

.instagram-feed:hover .buttons-area {
    display: block;
}

.buttons-area {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1vh;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 0 0 20px 20px;
}

.buttons-area .captions {
    font-size: clamp(0.7rem, calc(0.1rem + 0.7vw), 1.5rem);
    margin-bottom: 4%;
}

.icon-container {
    display: flex;
    justify-content: space-around; /* アイコン間を均等に配置 */
    flex-wrap: wrap; /* 必要に応じて折り返し */
    max-width: 100%; /* 親要素に収まる */
    margin: 0 auto; /* 中央揃え */
}

.icon-container i {
    font-size: clamp(1rem, calc(0.1rem + 1vw), 2rem);
    flex: 1 1 20%; /* 横幅を20%に設定し、レスポンシブに対応 */
    text-align: center; /* 中央揃え */
}

/* スマホサイズ */
@media screen and (max-width: 640px) {
    .buttons-area .captions {
        font-size: clamp(0.7rem, calc(0.1rem + 2.5vw), 3rem);
    }

    .icon-container i {
        font-size: clamp(1rem, calc(1rem + 2vw), 2rem);
    }
}

/* タブレットサイズ */
@media screen and (min-width: 641px) and (max-width: 1024px) {
    .buttons-area .captions {
        font-size: clamp(0.7rem, calc(0.1rem + 1.5vw), 3rem);
    }

    .icon-container i {
        font-size: clamp(1rem, calc(0.5rem + 2vw), 2rem);
    }
}
